<!DOCTYPE html>
<html>
<head>
  <title>User Dashboard</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="d-flex">
    <nav id="sidebar" class="bg-light">
      <div class="sidebar-header">
        <h3 class="text-center p-2 text-secondary">Dashboard</h3>
      </div>
      <ul class="list-unstyled components p-2">
            <li>
              <a href="/member">Member</a>
            </li>
            <li>
              <a href="/product">product</a>
            </li>
            <li>
              <a href="/transaction">transaction</a>
            </li>
      </ul>
    </nav>
  
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
