<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./styleLogin.css"> -->
</head>
<body>
    <div class="container">
        <h1>EDIT Data</h1>
        <form action="/member" method="post">
            <input type="hidden" name="_method" value="patch"/>
            <input type="hidden" name="id" value="<%=  members.id %>"/>
            <div class="mb-3">
                <label class="form-label">User Name</label>
                <input type="text" class="form-control" name="userName" value="<%=  members.userName %>" />
            </div>
            <div class="mb-3">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" name="address" value="<%=  members.address %>"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Phone</label>
                <input type="text" class="form-control" name="phone" value="<%=  members.phone %>"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>