<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
  <body>
    
    <div class="global-container">
     
        <div class="card login-form">
          <% if (error) { %>
            <div class="alert alert-danger text-center" role="alert">
             <%= error  %>
           </div>
           <% } %>
            <div class="card-text">
              <h1 class="card-title text-center"> L O G I N</h1>
                <form action="/login" method="POST">
                    <div class="mb-3">
                      <label  class="form-label">User name</label>
                      <input type="text" name="username" class="form-control" >
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div d-grid gap-2 class="text-center">
                        <button type="submit" class="btn btn-primary text-center">Login</button>
                    </div> 
                  </form> 
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>