<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="pt-4">Transaction</h1>
        <a href="/add-transaction" class="btn btn-add mt-2">Add transaction</a>
        <table class="table mt-4">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">User Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
                <th scope="col">Date Transaction</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% for (index in transactions) { %>
                    <tr>
                        <th scope="row"><%= (Number(index) + 1) %></th>
                        <td><%= transactions[index].member.userName %></td>
                        <td><%= transactions[index].member.address %></td>
                        <td><%= transactions[index].member.phone %></td>
                        <td><%= transactions[index].product.productName %></td>
                        <td><%= transactions[index].product.productPrice %></td>
                        <td><%= transactions[index].createdAt %></td>                      
                        <td>
                          <form  method="POST" action="/delete-transaction">                       
                          <a class="btn-edit" href="/edit-transaction/<%= transactions[index].id %>">Edit</a>
                            <input type="hidden" name="_method" value="DELETE" />
                            <input type="hidden" name="id" value="<%= transactions[index].id %>" />
                            <button class="btn-delete" type="submit">Delete</button>
                          </form>
                        </td>
                    </tr>
                  
              <% } %>
            </tbody>
          </table>
          <a href="/dashboard" class="btn btn-add mt-2">Back to Dashboard</a>
    </div>  
</body>
</html>