html,body {
    height: 100%;
    background-color: #FB8122 !important;
}

#sidebar {
    background-color: #1D2228 !important;
    padding-bottom: 100%;
}
.list-unstyled{
   font-family: Arial, Helvetica, sans-serif;
   
}
.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .alert {
    /* align-items: center;
    justify-content: center; */
    background-color: #FB8122!important;
    border-radius: 10px !important;
}
.login-form {
    width: 380px;
    height: 450px;
    padding: 20px;
    background-color: #1D2228 !important;
    border-radius: 10px !important;
}
input[type="email"],
input[type="password"] {
    background: #1a2226;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-bottom: 25px;
}
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border: none;
    background: #1a2226;
    color: #fff;
    margin: 0;
}
.card-title {
    color: #fff;
    font-weight: 300px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.card-text {
    color: #fff;
}
.btn {
    background: #FB8122 !important;
    color: #1a2226 !important;
    font-size: 14px;
    border: 2px solid #1a2226;
    border-radius: 10px !important;  
}
.btn-add {
    background: #1a2226 !important;
    color: #fff !important;
    font-size: 14px;
    border: 2px solid #1a2226;
    border-radius: 10px !important; 
}
.btn-delete {
    background: #FB8122 !important;
    color: #1a2226 !important;
    font-size: 14px;
    border: 2px solid #1a2226;
    border-radius: 10px !important; 
}
.btn-edit {
    color: #FB8122 !important;
    font-size: 14px;
   
}
.table {
    color: #fff;
    width: 100%;
    height: 450px;
    padding: 20px;
    background-color: #1D2228 !important;
    border-radius: 10px !important;
}